<div class="frame-foyer">
  <h1>Afin de simuler au mieux vos droits, merci de répondre à ces dernières questions</h1>

  <form class="form-horizontal" method="post" name="form" novalidate ng-submit="submit(form)">
    <yes-no-question model="locals.parentsPayPensionsAlimentaires" size="7">
      <question>
      Vous ou votre conjoint·e actuel·le avez-vous <b>versé</b> des pensions alimentaires <b>
      depuis {{ debutAnneeGlissante }}</b> ?
      </question>
    </yes-no-question>
    

    <div ng-if="locals.parentsPayPensionsAlimentaires" ng-repeat="individu in individus">
      <h2>{{ individuLabel(individu) }}</h2>
      <capture-montant-ressource
        ng-model="individu.pensions_alimentaires_versees_individu"
        individu="individu"
        ressource-type="pensionsVersees"
        index="$index"
        date-de-valeur="situation.dateDeValeur"
        form="form">
      </capture-montant-ressource>
    </div>

    <hr/>

    <fieldset class="form-group">
      <legend class="col-sm-7 control-label" >Avez vous le permis de conduire</legend>
      <div class="col-sm-3">
        <label
          class="btn btn-default"
          ng-class="{active: permis_de_conduire == 'true'}">
          <input
            type="radio"
            class="sr-only"
            ng-model="permis_de_conduire"
            value="true"
            />
          Oui
        </label>
        <label
          class="btn btn-default"
          ng-class="{active: permis_de_conduire == 'false'}">
          <input
            type="radio"
            class="sr-only"
            ng-model="permis_de_conduire"
            value="false"
            />
          Non
        </label>
      </div>

    </fieldset>

    <hr/>
    <fieldset class="form-group">
      <legend class="col-sm-7 control-label" >Avez-vous d'importantes difficultés à payer les factures courantes ou les besoins de première nécessité ? </legend>
      <div class="col-sm-3">
        <label
          class="btn btn-default"
          ng-class="{active: difficultes == 'true'}">
          <input
            type="radio"
            class="sr-only"
            ng-model="difficultes"
            value="true"
            />
          Oui
        </label>
        <label
          class="btn btn-default"
          ng-class="{active: difficultes == 'false'}">
          <input
            type="radio"
            class="sr-only"
            ng-model="difficultes"
            value="false"
            />
          Non
        </label>
      </div>

    </fieldset>

    <next-button></next-button>
  </form>
</div>

